@import "tailwindcss";
@import "@fontsource/montserrat-alternates";
@import "@fontsource/montserrat-alternates/400.css";
@import '@fontsource/montserrat-alternates/800.css';
@import '@fontsource/montserrat-alternates/900.css';
@import "@fontsource/montserrat-alternates/400-italic.css";

@theme{
    /* Charte graphique */
    --color-rose: #C2858C;
    --color-purple: #272030;
    --color-purple-title: #1C244C;
    --color-orange-primary: #F08A4F;
    --color-red: #C1272D;
    --color-blue: #6CAFFF;
    --color-white-primary: #F7F5F3;
    --color-orange-secondary: #F7931E;
    --color-white-secondary: #E8E0DB;
    --color-gray: #868686;
}

body {
  font-family: "Montserrat Alternates";
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.6s ease-in-out;
}

.device-container {
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.device-header h4 {
  color: #333;
}

.device-details p {
  margin: 0.5rem 0;
}

.device-slider {
  margin-top: 1rem;
}