@import "tailwindcss";
@import "@fontsource/montserrat-alternates";
@import "@fontsource/montserrat-alternates/400.css";
@import '@fontsource/montserrat-alternates/800.css';
@import '@fontsource/montserrat-alternates/900.css';
@import "@fontsource/montserrat-alternates/400-italic.css";

@theme{
    /* Charte graphique */
    --color-rose: #C2858C;
    --color-purple: #272030;
    --color-purple-title: #1C244C;
    --color-orange-primary: #F08A4F;
    --color-red: #C1272D;
    --color-blue: #6CAFFF;
    --color-white-primary: #F7F5F3;
    --color-orange-secondary: #F7931E;
    --color-white-secondary: #E8E0DB;
    --color-gray: #868686;
}

body {
  font-family: "Montserrat Alternates";
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.6s ease-in-out;
}

/* calendar.css */
.react-calendar {
  border: none;
  width: 100%;
  background-color: #fff;
  border-radius: 0.75rem;
}

.react-calendar__tile--active {
  background: #7E5BEF !important; /* your purple */
  color: white !important;
  border-radius: 0.5rem;
}

.react-calendar__tile:enabled:hover {
  background-color: #EDE9FE; /* lighter purple */
  border-radius: 0.5rem;
}